<tr>
  <td><%= link_to version.to_s, version_path(version) %></td>
  <td><%= version.timestamp %></td>
  <td><%= version.files.count %></td>
  <td><%= version.latest %></td>
  <td class="links">
    <%= render "common/links", :obj => version, :edit => edit_version_path(version) %>
  </td>
</tr>